/* Takeme.css */
.carousel {
  max-width: 100%;
}

.carousel-inner {
  max-height: 400px;
  /* Adjust the height as needed */
}

.carousel-item {
  text-align: center;
  /* Center the images horizontally */
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  /* Maintain aspect ratio */
}

/* Media query for responsiveness */
@media (min-width: 768px) {
  .carousel {
    max-width: 100%;
  }

  .carousel-inner {
    max-height: 800px;
    /* Adjust the height as needed for larger screens */
  }
}

.doc {
  margin-bottom: 500px;
  margin-right: 800px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
}
@media only screen and (max-width: 1074px) {
  .doc{
    margin-bottom:200px ;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 1006px) {
  .doc{
    margin-bottom:100px ;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 830px) {
  .doc{
    margin-bottom:50px ;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 767px) {
  .d-none{
    display: block !important ;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 767px) {
  .doc{
    margin-bottom:50px ;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 760px) {
  .doc{
    margin-bottom:10px ;
    font-size: 70px;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 508px) {
  .doc{
    margin-bottom:6px ;
    font-size: 50px;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 383px) {
  .doc{
    margin-bottom:1px ;
    font-size: 40px;
    /* Reduce font size for headings */
  }
}
@media only screen and (max-width: 315px) {
  .doc{
    margin-bottom:10px ;
    font-size: 20px;
    /* Reduce font size for headings */
  }
}

