.viewcard{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
   
    

}
.viewinner{
    width: 400px;
    background: darkgray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
}

.mainnn{
    background: #000;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8)),
      url("./Img/car.jpg");
    height: 800px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* For smaller devices */
@media screen and (max-width: 632px) {
    /* Adjust styles here */
    .mainnn {
      /* Example: Modify the width or layout for smaller screens */
      width: 100%;
      padding: 10px;
    }
  
    .viewcard {
      /* Example: Adjust display or layout for smaller screens */
      display: flex;
      flex-direction: column;
    }
  
    /* Add other responsive styles as needed */
  }
  @media screen and (max-width: 410px) {
    /* Adjust styles here */
    .mainnn {
      /* Example: Modify the width or layout for smaller screens */
      width: 100%;
      padding: 10px;
    }
  
    .viewcard {
      /* Example: Adjust display or layout for smaller screens */
      display: flex;
      flex-direction:column;
    }
  
    /* Add other responsive styles as needed */
  }
  